@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional app styles */
html, body, #root { height: 100%; }
body { @apply bg-gradient-to-b from-slate-50 to-white text-slate-900; }

.container { @apply max-w-6xl mx-auto px-4; }
